# Singularity
*.sif

# Files
tests/ligands/*.pcd
tests/ligands/*/*.pcd
tests/ligands/*/conf_*.sdf
tests/ligands/*/frag_*_*.sdf
tests/ligands/*/murcko_*.sdf
tests/ligands/*/allfrags.sdf
tests/bestsensaas.sdf
tests/catsensaas.sdf
tests/matrix-sensaas.txt
fragments/Enamine*.sdf
fragments/_DSIpoised/
fragments/_VEHICLe/
images/ligands/
*.dx

# nohup
nohup.out

# slurm
fragments/slurm

# Python
__pycache__
.ipynb_checkpoints

# editors
.vscode

# macOS
.DS_Store
