# Singularity
*.sif

# Files
tests/ligands/*.pcd
tests/ligands/*/*.pcd
tests/ligands/*/conf_*.sdf
tests/ligands/*/frag_*_*.sdf
test/ligands/*/allfrags.sdf
tests/nestsensaas.sdf
tests/catsensaas.sdf
tests/matrix-sensaas.txt

# Python
__pycache__
.ipynb_checkpoints

# editors
.vscode